.attribute-main-wrapper {
  height: 100%;
  padding-bottom: 6px;
  padding-left: 3px;
}
.attribute-main-wrapper .attribute-content-wrapper {
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.attribute-main-wrapper .attribute-content-wrapper .attribute-title {
  flex: 0 1 14px;
  height: 30px;
  display: flex;
  background: #EBEBEB;
}
.attribute-main-wrapper .attribute-content-wrapper .attribute-title .title-text {
  flex: 1;
  display: flex;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.attribute-main-wrapper .attribute-content-wrapper .attribute-title .title-text .title {
  text-align: center;
  flex: 1;
  background: white;
}
.attribute-main-wrapper .attribute-content-wrapper .attribute-title .title-text .title .text-icon {
  margin-right: 4px;
  font-size: 16px;
}
.attribute-main-wrapper .attribute-content-wrapper .attribute-title .title-text .unselected-title {
  background: #727E9C;
  color: white;
}
.attribute-main-wrapper .attribute-content-wrapper .attribute-title .title-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 12px;
}
.attribute-main-wrapper .attribute-content-wrapper .attribute-title .title-icon .icon {
  font-size: 16px;
  transform: rotateY(180deg);
}
.attribute-main-wrapper .attribute-content-wrapper .attribute-content {
  flex: 1;
  background: white;
  overflow-y: auto;
}
