.search-input-wrapper {
  flex: 1 1 auto;
  height: 30px;
  margin-bottom: 10px;
}
.search-input-wrapper .search-input {
  position: relative;
}
.search-input-wrapper .search-input input {
  width: 100%;
  border: 1px solid #9C9C9C;
  height: 30px;
  font-size: 6px;
  padding-left: 4px;
}
.search-input-wrapper .search-input .search-icon {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 16px;
}
